@use './defaultVar.scss';
@use './slider.scss';


.navbar-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: calc(10px + 0.6vw);
}

.navbar-mobile{
    display: none;
}

.color-green{
    background-color: defaultVar.$light-green;
}
.buttonDiv a{
    color: #fff;
    font-size: calc(10px + 0.6vw);
    padding: 10px 20px;
    background-color: defaultVar.$light-orange;
    color: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.buttonDiv a:hover{
    cursor: pointer;
    background-color: defaultVar.$light-green;
    transition:  ease-in-out .2s;
}
.buttonDiv a:visited{
    color: #fff;
}

.linkDiv{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.linkDiv li{
    list-style: none;
    margin: 0 20px;
}
.linkDiv li a{
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}
.linkDiv li a:hover{
    color: defaultVar.$light-orange;
    transition:  ease-in-out .2s;
}


.buttonDiv{
    margin: 20px;
}

.herobanner{
    height: 100vh;
    position: relative;
}
.herobanner_summer{
    background: url(../assets/img/summer_hero_banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.herobanner_autumn{
    background: url(../assets/img/autunm_hero_banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.herobanner_winter{
    background: url(../assets/img/winter_hero_banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.herobanner_spring{
    background: url(../assets/img/spring_hero_banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sloganWhite{
    color: #fff;
}

.title_herobanner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
    transform: translateY(-10vh);
    margin-top: 10vh;
}

.title_herobanner h1{
    font-family: 'Yellowtail';
    font-size: calc(16px + 8vw);
    color: white;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title_herobanner h3{
    font-family: 'Montserrat';
    font-size: calc(16px + 1vw);
}

.logoScroll_herobanner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.containerCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
}

.card{
    margin: 20px;
    max-width: 320px;
    height: 300px;
    background: defaultVar.$light-green;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
}
.card p, .card h4{
    padding: 20px;
    margin-top: 20px;
    font-weight: 400;
}
.card h4{
    font-size: 24px;
}

.localeDiv{
    position: relative;
    max-width: 1100px;
    margin: 50px auto 0;
    background-color: defaultVar.$light-green;
    padding: 50px;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.localeDiv p{
    margin: 20px;
}
.localeDiv img{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
}

/* .grisPresta{
    display: grid;
    max-width: 1440px;
    padding: 20px;
    margin: 50px auto 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
} */

.flexPresta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px auto 0;
    justify-content: center;
}

.cardPrestation{
    position: relative;
    width: 300px !important;
    height: 400px !important;
    margin: 30px;
    transition: ease-in-out .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cardPrestation > h3{
    position: absolute;
    color: #fff;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px 0;
    font-weight: 400;
    
}
.cardPrestation:hover{
    width: 500px !important;
    transition: ease-in-out .2s;
}

.cardPresta1{
    background: url('../assets/img/presta_entretient.webp');
    width: 100%;
    height: 100%;
}
.cardPresta2{
    background: url('../assets/img/presta_taille.webp');
    width: 100%;
    height: 100%;
}
.cardPresta3{
    background: url('../assets/img/presta_creation.webp');
    width: 100%;
    height: 100%;
}
.cardPresta4{
    background: url('../assets/img/presta_pelouse.webp');
    width: 100%;
    height: 100%;
}
.cardPresta5{
    background: url('../assets/img/presta_arrossage.webp');
    width: 100%;
    height: 100%;
}
.cardPresta6{
    background: url('../assets/img/presta_terrasse.webp');
    width: 100%;
    height: 100%;
}
.cardPresta7{
    background: url('../assets/img/presta_cloture.webp');
    width: 100%;
    height: 100%;
}

.cardBlur{
    width: 100%;
    height: 100%;
    filter: blur(2px) grayscale(100%);
    transition: ease-in-out .2s;
}
.cardBlur:hover{
    width: 100%;
    height: 100%;
    filter: blur(0px);
    transition: ease-in-out .2s;
}


/* AVIS */

.sloganAvis{
    margin-top: 25px;
}

.containerAvis{
    margin: 50px auto 0;
    position: relative;
}

.avis{
    max-width: 800px;
    background: defaultVar.$light-green;
    margin: 30px auto;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.nameAndNote{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nameAndNote p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.avisUser{
    padding: 20px;
    font-style: italic;
    text-align: center;
}

/* GALERIE */

.sectionGalerie{
    margin-top: 100px;
    min-height: 100vh;
}

.containerGalerie{
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    row-gap: 40px;
    column-gap: 40px;
    object-fit: cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.containerGalerie div{
    width: 400px;
}

.containerGalerie div img {
    width: 100%;
    object-fit: cover;
}


/* FORMULAIRE */
.sectionForm{
    text-align: center;
    min-height: 100vh;
}

.btnSuivant{
    margin: 50px;
    height: 70px;
    width: 220px;
    background-color: defaultVar.$light-orange;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}
.btnSuivant:hover{
    background-color: #E4AC5A;
    cursor: pointer;
}

.containerForm{
    text-align: center;
}


.containerBtnForm{
    margin: 75px 0 25px;
}
.containerBtnForm input{
    display: none;
}
.containerBtnForm div{
    padding: 20px;
    margin: 30px auto;
    max-width: 400px;
    background-color: defaultVar.$light-green;
    border: 2px solid defaultVar.$light-green;
    color: #fff;
    border-radius: 5px;
}
.containerBtnForm div:hover{
    border: 2px solid defaultVar.$light-green;
    color: defaultVar.$light-green;
    background-color: #fff;
    cursor: pointer;
}

.selected{
    background-color: defaultVar.$light-orange !important;;
    border: 2px solid defaultVar.$light-orange !important;
    color: #fff !important;
}

.gridFrom{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}
.gridFrom div{
    background-color: defaultVar.$light-green;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.gridFrom div li{
    list-style: none;
}
.gridFrom div li::before{
    content: '- ';
}

.titleCard{
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listCard{
    padding: 0 !important;
    margin-top: 10px;
}

.containerInputGarden{
    max-width: 400px;
    margin: 25px auto 0;
    background: defaultVar.$light-green;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

#btnGrandeur{
    position: relative;
    background: none;
    border: none;
    text-align: center;
    color: #fff;
    z-index: 0;
    font-size: 20px;
}
#btnGrandeur::after{
    position: absolute;
    content: " ";
    background-color: #E4AC5A;
    height: 10px;
    width: 10px;
    z-index: 1;
    top: 0;
    left: 0;
}

#btnUnstep, #btnUpstep{
    width:30px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.labelm²{
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.containerInformation{
    max-width: 600px;
    margin: 75px auto 0;
}
.containerInformation select{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px defaultVar.$light-green;
}
.containerInformation div{
    margin: 20px;
    text-align: left;
}
.containerInformation div input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 2px defaultVar.$light-green;
    padding: 10px;
}

.divRgpd{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divRgpd label{
    margin-left: 10px;
}

.rgpd{
    width: 15px !important;
    height: 15px !important;
}

/* FOOTER */

footer{
    width: 100%;
    height: 150px;
    background-color: defaultVar.$dark-green;
}
.footer{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 20px;
    flex-wrap: wrap;
    margin-top: 100px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer a:visited{
    color: #fff;
}


/* Mobile */

@media screen and (max-width: 600px) {
    .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }
    .buttonDiv{
        margin: 10px;
    }
    .span{
        position: relative;
        width: 30px;
        height: 30px;
        margin: 10px;
        z-index: 10;
    }
    .spanBtn{
        position: absolute;
        content: "";
        height: 3px;
        background-color: #fff ;
    }
    .spanClickColor{
        background-color: #000;
    }
    .span1{
        top: 0%;
        width: 100%;
        transition: ease-in-out .2s;
    }
    .span2{
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        transition: ease-in-out .2s;
    }
    .span3{
        bottom: 0%;
        width: 100%;
        transition: ease-in-out .2s;
    }
    .linkMobil{
        position: absolute;
        top: 0px;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        flex-direction: column;
        align-items: center;
    }
    .linkMobil li:first-child{
        margin-top: 80px;
    }
    .linkMobil li{
        margin: 20px;
        list-style: none;
    }

    .span1Click {
        transform: 
            rotate(45deg)
            translate(9px, 10px);
        transition: ease-in-out .2s;
        background-color: #000;

    }
    .span2Click {
        display: none;

    }
    .span3Click {
        transform: 
            rotate(-45deg)
            translate(9px, -9px);
        transition: ease-in-out .2s;
        background-color: #000;
    }
}

/* Tablette */

@media screen and (max-width: 900px) {
    .cardBlur{
        width: 100%;
        height: 100%;
        filter: blur(0px) grayscale(0%) !important;
    }
}

/* MENTION Légales */

.mentionLegales{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;
}
.mentionLegales h2{
    margin: 100px 0 50px;
    text-align: center;
}
.mentionLegales h3{
    margin-top: 30px;
}

/* PAGE PRESTATION */

.div-info-presta{
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
    max-width: 900px;

    h1{
        margin-bottom: 25px;
    }

}

/* PAGE DECOUVERTE */

.title-decouverte{
    max-width: 1200px;
    margin: 75px auto 35px;
}

.div-cont-decouverte{
    max-width: 1200px;
    margin: 35px auto;

    h4{
        margin: 0 0 5px;
        font-size: 1.2rem;
    }

    p{
        line-height: 1.4rem;
        letter-spacing: 0.02rem;
    }
}

#btnContact{
    display: flex;
    margin: 30px 10px 100px;
    justify-content: center;
}

.mini-container{
    margin: 15px 0 40px;
}